/* dashboard.css */
body {
    font-family: Arial, sans-serif;
    background-color: #212121; /* фон */
    color: #a73737; /* цвет текста */
}

.header {
    background-color: #212121; /* фон для шапки */
    color: #a73737;
    text-align: center;
    padding: 10px;
}

.bookmarks {
    background-color: #212121; /* фон для списка закладок */
    padding: 20px;
    text-align: center;
    color: #a73737;
}


.bookmarks ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bookmark {
    background-color: #474A59; /* блок для отдельной закладки */
    border: 1px solid #111; /* граница для закладки */
    margin: 10px;
    padding: 10px;
    width: 250px; /* Ширина блока закладки */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center; /* Выравнивание текста по центру */
}

.bookmark img {
    width: 96px; /* Ширина изображения */
    height: 144px; /* Высота изображения */
}

.bookmark h3 {
    font-size: 16px;
    margin: 5px 0;
    padding: 0;
    color: #FF0000; /* цвет названия фильма */
}

.bookmark p {
    font-size: 14px;
    margin: 5px 0;
    color: white; /* цвет текста фильма */
}

/* Добавляем к стилям из dashboard.css идентификатор bookmark для отличия от movie на главной странице */
#dashboard .bookmark {
    background-color: #222;
    border: 1px solid #111;
    margin: 10px;
    padding: 10px;
    width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
}

#dashboard .bookmark img {
    width: 96px;
    height: 144px;
}

#dashboard .bookmark h3 {
    font-size: 16px;
    margin: 5px 0;
    padding: 0;
    color: #FF0000;
}

#dashboard .bookmark p {
    font-size: 14px;
    margin: 5px 0;
    color: white;
}

.menu{
    background-color: #303030;
    color: #262323;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    text-decoration: none;
}

.menu a{
    text-decoration: none;
    color: #f2f2f2;
}

button[type="submit"] {
    background-color: #333; /* Цвет кнопки */
    color: #fff; /* Цвет текста на кнопке */
    padding: 5px 10px; /* Внутренний отступ */
    border: none; /* Убрать границу */
    border-radius: 5px; /* Скругление углов */
    cursor: pointer; /* Изменить вид курсора при наведении */
}

a {
    text-decoration: none; /* Убирает подчеркивание с ссылок */
}


.menu {
    text-align: center; /* Центрирование кнопок по горизонтали */
}

.menu {
    display: flex;
    justify-content: center;
    text-align: center;
}

.menu a {
    display: inline-block;
    height: 30px;
    margin: 5px;
    width: 120px;
    background: linear-gradient(145deg, #2e2d2d, #212121);
    font-family: Consolas, Courier New, monospace;
    border: solid #5e62684d 1px;
    font-size: 14px; /* Уменьшен размер шрифта */
    color: rgb(161, 161, 161);
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: -1px -5px 15px #00000080,
                5px 5px 15px #00000080,
                inset 5px 5px 10px #212121,
                inset -5px -5px 10px #212121;
    transition: all 0.5s;
}

.menu a:hover {
    box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
    color: #d6d6d6;
}

.menu a:active {
    box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
    color: #d6d6d6;
}


.movie {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Распределить элементы внутри блока вертикально */
    align-items: center; /* Центрировать элементы по горизонтали */
    background-color: #474A59;
    border: 1px solid #79757563;
    margin: 10px;
    padding: 10px;
    width: 250px;
    height: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
             -15px -15px 30px rgb(60, 60, 60);
}


.movie img {
    max-width: 96px;
    height: 144px;
}

.movie h2 {
    font-size: 16px;
    margin: 5px 0;
    padding: 0;
    color: #d34141;
}

.movie p {
    font-size: 14px;
    margin: 5px 0;
    color: white;
}

button[type="submit"] {
  --border-radius: 25px;
  --border-width: 7px;
  appearance: none;
  position: relative;
  padding: 1em 2em;
  border: 0;
  background-color: #212121;
  font-family: "Roboto", Arial, "Segoe UI", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #ffff;
  z-index: 2;
}

button::after {
  --m-i: linear-gradient(#000, #000);
  --m-o: content-box, padding-box;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: var(--border-width);
  background-image: conic-gradient(
		#ff0080,
		#ff0080,
		#ff0080,
		#ff0080,
		#ff0080,
		#ff0080,
		#ff0080
	);
  -webkit-mask-image: var(--m-i), var(--m-i);
  mask-image: var(--m-i), var(--m-i);
  -webkit-mask-origin: var(--m-o);
  mask-origin: var(--m-o);
  mask-clip: var(--m-o);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  filter: hue-rotate(0);
  animation: rotate-hue634 linear 500ms infinite;
  animation-play-state: paused;
  border-radius: 20px;
  border-color: #000;
}

button:hover::after {
  animation-play-state: running;
  border-radius: 10px;
}

@keyframes rotate-hue634 {
  to {
    filter: hue-rotate(1turn);
  }
}

button,
button::after {
  box-sizing: border-box;
  border-radius: 20px;
}

button:active {
  --border-width: 5px;
}

.bn {
  padding: 0.9em 1.6em;
  border: none;
  outline: none;
  color: #FFF;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 32px;
}

.bn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(46, 46, 46);
  left: 0;
  top: 0;
  border-radius: 10px;
}

.bn::before {
  content: "";
  background: linear-gradient(
    45deg,
    #07d888, #e40851, #2f00ff, #00ff37,
      #ec0808, #2600ff, #0bd157, #2f00ff
);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing345 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 20px;
  opacity: 0;
}

@keyframes glowing345 {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.bn:hover::before {
  opacity: 1;
}

.bn:active:after {
  background: transparent;
}

.bn:active {
  color: #000;
  font-weight: bold;
}