<!DOCTYPE html>
<html>
<head>

    <title>Мои закладки</title>
</head>
<body>
    <div class="header">
        <h1>Мои закладки</h1>
        <div class="menu">
            <a href="{{ url_for('dashboard') }}">Личный кабинет</a>
            <a href="{{ url_for('logout') }}">Выход</a>
        </div>
    </div>
    <div class="bookmarks">
        <ul>
    {% for bookmark in user.bookmarks %}
        <li>
            <div class="bookmark">
                <h3>{{ bookmark.movie.title if bookmark.movie else 'Фильм не найден' }}</h3>
                <p>Рейтинг: {{ bookmark.movie.rating if bookmark.movie else 'Рейтинг не доступен' }}</p>
                <p>Описание: {{ bookmark.movie.description if bookmark.movie else 'Описание не доступно' }}</p>
            </div>
        </li>
    {% endfor %}
        </ul>
    </div>
</body>
</html>
